/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 24, 2017, 4:36:34 PM
    Author     : Avatar
*/

#dialogoverlay{
    display: none;
    opacity: .8;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #fff;
    width: 100%;
    z-index: 10;      
}

#dialogbox{
    display: none;
    position: fixed;
    background: #1976D2;
    border-radius: 7px;
    width: 550px;
    z-index: 10;
}

#dialogbox > div{background: #fff; margin: 8px;}
#dialogbox > div > #dialogboxhead{background: #666; font-size: 19px;padding: 10px;color: #ccc};
